# Python
__pycache__/
*/__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursor/

# OS specific
.DS_Store

# Project specific
logs/
.pytest_cache/

# Docker
Dockerfile
docker-compose.yml
*.dockerignore

# Nginx
nginx/
nginx.conf 